body{
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    font-family: system-ui, 
    -apple-system,
     BlinkMacSystemFont, 'Segoe UI', 
     Roboto, Oxygen, Ubuntu, Cantarell, 
     'Open Sans', 'Helvetica Neue',
      sans-serif;
      padding-bottom: 50000px;
}
 
main{
    display: flex;
     flex-direction: column;
      align-items: center; height: 100vh;
       gap: 20px;
}



svg{
    position: absolute;
    width: 37px;
    margin-top: 0.2%;
}   

input{
    padding: 10px 10px 10px 40px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 5px;
    outline: none;
    width: 250px;
    border-radius: 11px;

    &:hover,&:focus{
        border-color: #3f4347;
    }
}


h1{
    margin: 50px;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    font-size: 4.4rem;
}

#fetchWeatherBtn{
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    cursor: pointer;

    &:hover{
        background-color: #0056b3;
    }
}


.background-image{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    opacity: 0.7;

    
}
.imgContainer::after{
        content: "";
        position: fixed;
        inset: 0;
        z-index: -1;
        background: rgba(0,0,0,0.3);
    }


#weatherResult{
    margin-top: 50px;
    color: white;
    font-size: 2.5rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}